/* ===========================样式重置==================== */

/* -----------------------第一步：清间距清样式------------ */
body,h1,h2,h3,h4,h5,h6,p,a,img,ul,li,ol,dl,dt,dd,input{padding: 0;margin: 0;}
ul,ol{list-style: none;}
img{}/* 清除图片默认间隙 */
input{ outline: none;}/* 清除外轮廓 */


/* -------------------第二步：定义全局样式------------- */
body{font-size: 12px;color: #fff; font-family: "微软雅黑";}

/* ------------第三步：定义超链接样式------------ */
a{text-decoration: none; color: #fff;}
a:hover{text-decoration: underline; color: #f60;}



/* ==========================公共样式====================== */
.w{width: 960px; margin: 0 auto;}/* 版心 */
.l{float: left;}/* 左浮动 */
.r{float: right;}/* 右浮动 */

header{height: 130px;background-color: #e50011;}
header dl{height: 94px;line-height: 94px;}
header dl dt {height: 94px;width: 336px;line-height: 94px;}
header dl dt img{vertical-align: middle;}
header dl .d1{width: 320px;height: 30px;border: 1px solid #fff;margin-top: 30px;}
header dl .d1 select{padding-left: 9px; border: 0;width: 87px;height: 30px;color: #fff;font-size: 12px;background-color:#e50011;}
header dl .d1 .t1{padding-left: 14px; border: 0;width: 180px;height: 30px;background-color: #e50011;}
header dl .d1 .sbt{width: 38px;height: 30px;background:url(../images/icons.fw.png) no-repeat 7px 5px; border: 0;}
header dl  ul {width: 280px;}
header dl  ul .li1{height: 15px;}
header dl  ul li a{color: #fff;padding: 0 10px;border-right: 1px solid #fff;}
header dl  ul li a.last{border: 0;}
header .box li{height: 36px;line-height: 36px;padding: 0 11px;}
header .box li a{color: #fff;}
header .box li:hover{background-color: #fff;}
header .box li:hover a{color:#e50011;}
header .box .u2{float: right;}
nav{height: 180px;line-height: 180px;text-align: center;}
nav ul li{height: 180px;}
nav img{vertical-align: middle;margin-left: 50px;}
nav .img2{display: none;vertical-align: middle;margin-left: 50px;}
nav li:hover img{display: none;}
nav li:hover .img2{display:inline-block}
main{height: 344px;background-color: #f5f5f5;}
main .all{height: 264px;background-color: #fff;position: relative;top: 40px;}
main .all .left{width: 662px;height: 261px;padding-left: 20px;}
main .all .left h2{height: 44px;line-height: 44px;font-size: 15px;color: #333333;}
main .all .left h2 a{color: #999999;margin-left: 544px;}
main .all .left h2 a:hover{text-decoration: underline; color: #f60;}
main .all .left .box{width: 664px;height: 203px;}
main .all .left .box dl{width: 316px;height: 94px;background-color: #f5f5f5;margin-right: 16px;margin-bottom: 16px;}
main .all .left .box dl img{height: 94px;display: block;}
main .all .left .box dl dd{height: 94px;
    width: 122px;
    margin-left: 21px;
    margin-top: 13px;
    color:#333333;
}
main .all .left .box dl p{color: #8f8f8f;margin-top: 5px;}
main .all .right{width: 246px;height: 261px;padding-left: 32px;}
main .all .right h2{height: 44px;line-height: 44px;font-size: 15px;color: #333333;}
main .all .right h2 span{width: 29px;height: 20px;border: 1px solid #eee;display: block;float: right;}
main .all .right img{width: 230px;}
main .all .right .p1{line-height: 40px;color: #333;}
main .all .right .p2{line-height: 20px;color: #8f8f8f;margin-bottom: 17px;}
main .all .right a{color: #333;float: left;}
main .all .right span{width: 15px;height: 13px;background: url(../images/icons.fw.png)no-repeat 0 209px;display: block;}

article{height: 395px;}
article .box1{height: 271px;position: relative;top: 60px;}
article .box1 dl{width: 300px;height: 271px;border-right: 1px solid #eee;margin-right: 29px;position: relative;}
article .box1 dl.last{border: 0;margin-right: 0;}
article .box1 dl img{width: 265px;}
article .box1 dl dt{line-height: 42px;color: #333333;}
article .box1 dl dd{width: 50px;height: 20px;text-align: center;
line-height: 20px;background-color: #2ac180;position: absolute;left: 0;bottom: 0;}

footer{height: 210px;background-color:#e50011;}
footer div{text-align: center;}
footer div li{display: inline-block;border-right: 1px solid #fff;margin-top: 14px;}
footer div li a{margin-left: 12px;margin-right: 10px;}
footer div li.last{border: 0;}











